.container {
    display: flex;
    flex-direction: row;
}
.button_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}
.grid_container {
    display: flex;
    flex-direction: column;
}
.button-normal {
    background-color: #cdccff;
    border: 1px solid #000;
    border-radius: 0px 5px 0px 0px;
}
.button-selected {
    background-color: #d6ffcc;
    /*background-color: #ffccd6;*/
    border: 1px solid #000;
    border-radius: 0px 5px 0px 0px;
}